{% extends 'base.html'%}
{% load static %}
<!-- head -->

{% block title %} signup {% endblock %}

<!-- body -->

{% block content%}
<div class="containerW">

  <div class="containerForm">
    <h1>Registro</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
      </ul>
{% endif %}

<form action="{% url 'logout' %}" method="post" class="form">
  {% csrf_token %} {{form.as_p}}
  <button type="submit" class="buttonL">Registrarse</button>
</form>

    <div class="link">
      <a href="{% url 'login' %}">Iniciar Sesion</a>
    </div>


</div>
</div>
{% endblock %}
