{% extends 'base.html'%} {% load static %}
<!-- head -->
{% block title %} Tareas {% endblock %}

<!-- body -->
{% block content %}
<h1>{{user.username}}</h1>

{% if tasks %}
<h2>Tienes las siguientes tareas por realizar:</h2>
<ul>
  {% for task in tasks %}
  <li>
    <h2>{{task.title}}</h2>
    <a href="{% url 'task_detail' task.id %}">
      <p>detalle</p>
    </a>
    <a href="{% url 'update_task' task.id %}">
      <p>modificar</p>
    </a>
    <a href="{% url 'task_delete' task.id %}">
      <p>Eliminar</p>
    </a>
    <a href="{% url 'task_completed' task.id %}">Completar</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<h2>Aun no tienes tareas por realizar</h2>
{% endif %}
<a href="{% url 'create_task' %}">Agregar tareas</a>

{% endblock %}
