{% extends 'base.html'%} {% load static %}
<!-- head -->
{% block title %} Tareas {% endblock %}

<!-- body -->
{% block content %}
<h1>{{ user.username }}</h1>

{% if tasks %}

<h2>Tareas completadas:</h2>
<ul>
  <!-- Recorremos las tareas -->
  {% for task in tasks %}
  <!-- Renderizamos aquellas que no están completadas -->
  {% if task.datecompleted %}
  <li>
    <h2>{{ task.title }}</h2>
    <a href="{% url 'task_detail' task.id %}"><p>detalle</p></a>
    <a href="{% url 'update_task' task.id %}"><p>modificar</p></a>
    <a href="{% url 'task_delete' task.id %}"><p>Eliminar</p></a>
  </li>
  {% endif %} {% endfor %}
</ul>
{% else %}
<h2>No hay tareas para completar</h2>
{% endif %}

<a href="{% url 'task' %}">tareas pendientes</a>

{% endblock %}
